.box {
  border: black solid 1px;
  margin: 100px auto;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 50px 1fr 50px;
}
.boxes {
border: 20px;
display: grid;
grid-template-rows: 350px 1fr;

}

.pokeName {
  
background-color: greenyellow;
text-align: center;
font-size: 50px;


}
.img {
background-color: aqua;
}
img {
height: 200px;
margin: 75px 20px 20px 75px
}
